#include <windows.h>

#include "shared/purifier.h"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL


/////////////////////////////////////////////////////////////////////////////
// Version

VS_VERSION_INFO VERSIONINFO
	FILEVERSION RES_APP_VER_INT
	PRODUCTVERSION RES_APP_VER_INT
	FILEFLAGSMASK 0x3fL
	FILEFLAGS 0x0L
	FILEOS 0x40004L
	FILETYPE 0x0L
	FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "041d04b0"
		BEGIN
			VALUE "CompanyName", "Mifan Bang"
			VALUE "FileDescription", "Removing advertisement banners in Skype"
			VALUE "FileVersion", RES_APP_VER
			VALUE "InternalName", "purifier.dll"
			VALUE "LegalCopyright", "Copyright (C) 2011-2018 Mifan Bang. https://debug.tw"
			VALUE "OriginalFilename", "purifier.dll"
			VALUE "ProductName", "Purifier"
			VALUE "ProductVersion", RES_APP_VER
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x41d, 0x4b0
	END
END
